<h1>Find authors</h1>

<%= nested_form_for Author.new,:method => :get,:html=>{:class=>"form-horizontal form-compact"},:url => {:action => :search,:controller => :authors } do |f| %>
<%= mytextfield f,:name,:full_name %>

<%= mysubmit f, :search,{},"btn-medium" %>
<% end %>

Link to authors with most titles that are unblurbed
