<h1>New Titles</h1>

<table class="table" style="overflow:scroll;height:300px;">
<tr><th>Title</th><th>Blurbed?</th><th>Categorized?</th></tr>
<% @titles.each do |t| %>
<tr>
  <td><small><%= link_to t.title,t %></small></td>
  <td><%= blurb_status(t) %></td>
  <td><%= category_status(t) %></td>
</tr>
<% end %>
</table>
