<div class="row">
  <div class="span12">
    <h1>Sales in past week</h1>

  <%= high_chart("saleschart", @saleschart) %>
  
  <div>
    Revenue: $<%= @revenue %> 
  </div>
  <div>
    Cost: $<%= @cost %>
  </div>

  </div>
    


</div>
