<div class="container">
  <div class="row">
      <div class="span2" id="frontleft">
	<% if controller_name=="pages" && @page && (@page.slug=="welcome-to-thread-coffee" || (@page.parent && @page.parent.slug=="welcome-to-thread-coffee")) %>
	<% else %>
	<%= image_tag "redemmas/threadlogo_web3.png" %>
	<% end %>
      </div>
      <div class="span7">
	<div id="menubar">
	  <div class="menubar copse">
	    <%= raw menubar({:books=>['/books',{:browse=>'/books',:search=>'/search',"special orders"=>'/pages/special_orders'}],:menu=>['/pages/menu',{}],:coffee=>['/pages/thread',{}],:events=>['/events',{}],:news=>['/posts',{}],:about=>['/about',{}]}) %>
	  </div>
	</div>
      </div>
  </div>
  <div class="row" id="realcontentinner realcontent"
	<!-- and then do the real content -->
	<% unless fullwidth? %>
	<div class="span2"></div> 
	<% end %>
