<div class="container">
  <div class="row">
      <div class="span2" id="frontleft">
	<%= image_tag "redemmas/emmas.png" %>
      </div>
    <div class="span7">
      <div id="realcontent">
	<div class="menubar copse">
	  <%= raw menubar({:books=>'/books',:menu=>'/pages/menu',:coffee=>'/pages/thread',:events=>'/events',:news=>'/posts',:about=>'/about'}) %>
	</div>
	<div id="realcontentinner"
	<!-- and then do the real content -->
      
