
<div class="container">

  <div class="row">
      <div class="span2" id="frontleft">
	<% if (controller_name=="home" && controller.action_name=="thread") || (controller_name=="pages" && @page && (@page.slug=="welcome-to-thread-coffee" || (@page.parent && @page.parent.slug=="welcome-to-thread-coffee"))) %>
	<a href="/thread"><%= image_tag "redemmas/threadlogo_web.png" %></a>
	<% else %>
	<a href="/"><%= image_tag "redemmas/emmas.png" %></a>
	<% end %>
      </div>
      <div class="span7">
	<div id="menubar">
	  <div class="menubar copse">
	    <% cache("menubar", :expires_in => 10.minutes) do %>
	    <%= raw menubar({:books=>['/books',{:browse=>'/books',:search=>'/books','special orders'=>'/pages/special_orders','course orders'=>'/pages/books-frequently-asked-questions#courseorders',:faq=>'/pages/books-frequently-asked-questions'}],:food=>['/food',{}],:coffee=>['/thread',{}],:events=>['/events',{}],:news=>['/blog',{}],:about=>['/about',{}],:contact=>['/pages/contact',{'contact us'=>'/pages/contact',:directions=>'/pages/directions',:newsletter=>'/newsletter'}]}) %>
	  <% end %>
	  </div>
	</div>
      </div>
      <div class="span3">
	<div id="topdetails">
	  <p class="adobegaramondpro" style="font-size:18px;">Red Emma's</p>
	  <p class="adobegaramondpro" style="font-size:12px;line-height:14px;">30 W. North Avenue, Baltimore</p>
	  <p class="adobegaramondpro" style="font-size:12px;line-height:14px;">Tues-Thurs 8:30AM-10PM</p>
	  <p class="adobegaramondpro" style="font-size:12px;line-height:14px;">Fri-Sat 8:30AM-11PM</p>
	  <p class="adobegaramondpro" style="font-size:12px;line-height:14px;">Sunday 8:30-10PM</p>
	</div>
      </div>
  </div>
  <div class="row" id="realcontentinner realcontent"
	<!-- and then do the real content -->
	<% unless fullwidth? %>
	<div class="span2"></div> 
	<% end %>
