$("#modal-window").modal('hide');
$("#notificationcontent").html("<%= escape_javascript("Title was successfully added to title list <a href='#{url_for(@title_list)}'>#{@title_list.name}</a>").html_safe %>");
$("#notification").alert();
$("#notification").show("fade");




