$("#modal-window").modal('hide');
$("#notificationcontent").html("<%= escape_javascript("Title was successfully added to title list <a href='#{url_for(@category)}'>#{@category.name}</a>").html_safe %>");
$("#notification").alert();
$("#notification").show("fade");

$(".somecategories_for_title_<%= @edition.title.id %> .label").remove();
$(".somecategories_for_title_<%= @edition.title.id %>").prepend("<%= escape_javascript("<a href='#{url_for(@category)}'>#{@category.name}</a><br />").html_safe %>");



