<% if @bookshop %>

$("#bookshop").html("<a class='btn btn-large btn-warning block' style='margin-left:20px;margin-bottom:20px;' target='_blank' href='<%= @bookshop_url%>'>Order via bookshop.org</a>  ");

<% end %>


