
<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

<script>
    $(function () {
	$('#container').highcharts({
            chart: {
		type: 'scatter',
		zoomType: 'xy'
            },
	    
            title: {
		text: 'Net vs Received'
            },
            subtitle: {
		text: 'for distributors we reorder from'
            },
            xAxis: {
		labels:{
		    formatter: function(){var d=new Date(this.value); return d.getMonth()+"/"+d.getFullYear();}},
		title: {
		    enabled: true,
                    text: 'Date'
		},
		startOnTick: true,
		endOnTick: true,
		showLastLabel: true
            },
            yAxis: {
		title: {
                    text: 'Net profit or loss'
		}
            },
            legend: {
		layout: 'vertical',
		align: 'left',
		verticalAlign: 'top',
		floating: false,
		backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF',
		borderWidth: 1

            },
            plotOptions: {
/*		series: {
		    events: {
		
            legendItemClick: function(event) {
		if (!this.visible)
		    return false;
		
		var seriesIndex = this.index;
		var series = this.chart.series;
		
		for (var i = 0; i < series.length; i++)
		{
		    if (series[i].index != seriesIndex)
		    {
			series[i].visible ?
			    series[i].hide() :
			    series[i].show();
		    } 
		}
		return false;
	    }
		    }
		},
*/		
	scatter: {
	    marker: {
			radius: 5,
			states: {
                            hover: {
				enabled: true,
				lineColor: 'rgb(100,100,100)'
                            }
			}
                    },
                    states: {
			hover: {
                            marker: {
				enabled: false
                            }
			}
			}}},
		tooltip: {pointFormat: '<b>{point.x:%b %e %Y}</b>: $<b>{point.y}</b>'},

	    series: [
		
				<%= (@distributors_to_invoices.collect {|k,v| "{ name: '#{k.name.gsub(/[^0-9a-z]/i, '')}', data: #{v}}"}.join ",").html_safe %>
			
		]
		
	    });
    });
</script>


