<h1>Publishers</h1>

<table class="table">
  <tr>
    <th>Name</th>
    <th># of Editions</th>
    <th></th>
  </tr>

<% @publishers.each do |publisher| %>
  <tr>
    <td><%= link_to publisher.name,publisher %></td>
    <td><%= publisher.editions.count %></td>
    <td><%=  link_to raw("<i class='fa fa-pencil'></i>"), edit_publisher_path(publisher)   if can? :edit, Publisher %> </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Publisher', new_publisher_path %>
