 
<center>
<div id="holder" style="height:600px;border-left:0px solid #333;border-bottom:0px solid #333;border-right:0px solid #333;width:1000px;position:relative;">

  <div class="tablet twothirds onerow" style="position:absolute;top:260px;left:200px;">
    <div class="fit" style="padding-top:45px;">RED EMMA'S&nbsp;</div>
  </div>

  <div class="lincoln sixth tworows" style="position:absolute;top:260px;left:0px;">
    <a href="/events" class="fitinner" style="padding-top:10px;padding-bottom:10px;padding-right:20px;padding-left:20px;">
      <p>HEY</p>
      <p>FIND OUT</p>
      <p>ABOUT</p>
      <p>—OUR—</p>
      <p>EVENTS!</p>
    </a>
  </div>

  <div class="bebas sixth halfrow" style="position:absolute;left:200px;top:440px;">
    <div class="fit" style="margin-top:3px;"><a href="/coffee">COFFEE!</a></div>
  </div>


  <div class="arvo twothirds halfrow" style="position:absolute;right:0px;top:440px;">
    <div class="fit"><a href="/specials">&nbsp;~~Find out what's cooking now~~&nbsp;</a></div>
  </div>

  <div class="abril third onerow" style="position:absolute;top:0px;left:0px;border-right:5px solid #000810;">
    <div class="fit"><a  href="/menu">Menu!</a></div>
  </div>

  <div class="sixth onerow" style="position:absolute;top:0px;left:400px;">
    <img width="160" src="/assets/logo3-homepage.png">
  </div>

  <div class="abril third onerow" style="position:absolute;top:0px;left:600px;border-left:5px solid #000810;">
    <div class="fit"><a href="/books">Books!</a></div>
  </div>

  <div class="sixth edmond halfrow" style="position:absolute;top:0px;right:0px;border-left:5px solid #000810;">
    <a href="/where" class="fitinner" style="padding-top:5px;">
      <p>30 W. NORTH</p><p>BALTIMORE, MD</p>
    </a>
  </div>

  <div class="sixth copse tworows" style="position:absolute;top:80px;right:0px;border-left:5px solid #000810;border-bottom:5px solid #000810;border-top:5px solid #000810;">
    <div class="fitinner">
      <p>We are a</p>
      <p>worker-owned</p>
      <p>cooperative</p>
      <p>bookstore,</p>
      <p>restaurant,</p>
      <p>coffee roaster,</p>
      <p>& event space.</p>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
      <p>Our business</p>
      <p>is dedicated to</p>
      <p>sustainability,</p>
      <p>participatory</p>
      <p>democracy,</p>
      <p>autonomy, and</p>
      <p>solidarity.</p>
    </div>
  </div>

  <div class="fivesixths edmond halfrow" style="position:absolute;left:0px;top:175px;border-bottom:5px solid #000810;border-top:5px solid #000810;" >
    <div class="fit">⁕ <a href="/menu">FOOD</a> ⁕ <a href="/coffee">COFFEE</a> ⁕ <a href="/books">BOOKS</a> ⁕ <a href="/events">EVENTS</a> ⁕ <a href="/about">ABOUT</a> ⁕ <a href="/contact">CONTACT</a> ⁕ </div>
  </div>
 
  <div class="third geared halfrow" style="position:absolute;left:200px;height:75px;top:780px;" >
    <div class="fit">
      <a href="http://twitter.com/redemmas">&nbsp;@redemmas&nbsp;</a>
    </div>
  </div>

 <div class="quarter copse onepointfiverows" style="position:absolute;left:600px;top:520px;height:335px;" >
   <a href="/blog" style="padding-left:10px;padding-right:10px;" class="fitinner">
     <p>READ</p><p>—OUR—<p>LATEST</p><p>NEWS</p><p>& UPDATES</p>
   </a>
 </div>

 <div class="quarter arvo onerow" style="position:absolute;right:0px;top:520px;" >
     <a class="fitinner" href="http://facebook.com/redemmas" style="display:block;padding-top:15px;"><p>PLEASE<p>LIKE US!</p></a>
 </div>

 <div class="quarter edmond onerow" style="position:absolute;right:0px;top:700px;" >
   <a href="http://eepurl.com/sLosj" style="display:block;" class="fitinner">
     <p>KEEP UP TO DATE</p>
     <p>JOIN <span style="font-family:'AllHands';position:relative;top:-13px;">&amp;</span></p><p>OUR LIST!</p>
   </a>
 </div>

     
  <div class="third edmond onepointfiverows" style="position:absolute;left:200px;top:520px;background-image:url('https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-ash3/944774_514439191937641_281809335_n.png');background-position:center;" >
<div class="fitinner" style="padding-top:220px;">
      <p>New cupcakes: strawberry lemonade!</p>
</div>
<!--    <div class="fitinner">
      <p>Our grand opening</p>
      <p>is coming this Fall—</p>
      <p>stay tuned for details</p>
      <p>of our summer fundraisers</p>
      <p>and drop us a line</p>
      <p>if you want to help</p>
    </div>-->
  </div>
  

  <div class="bebas sixth onepointfiverows" style="position:absolute;left:0px;top:620px;">
  <div class="fitinner">

    
    <p><a href="http://freeschool.redemmas.org">THE FREE<br />SCHOOL</a></p>
    <p style="padding-top:12px;padding-bottom:12px;">&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-family:'Bergamot Ornaments';">y</span>&nbsp;&nbsp;&nbsp;&nbsp;</p>
    <p><a href="http://2640.redemmas.org">2640</a></p>
  </div>
  </div>

</div>
</center>

<br />

<center>
<div style="border-left:7px solid #333;border-right:7px solid #333;width:1200px;position:relative;top:1000px;">
<table style="width:1200px">
  <tr>
    <td width="100" style="border-width:0px; width:100px;"></td>
    <td width="100" style="border-width:0px; width:100px;"></td>
    <td width="100" style="border-width:0px; width:100px;"></td>
    <td width="100" style="border-width:0px; width:100px;"></td>
    <td width="100" style="border-width:0px; width:100px;"></td>
    <td width="100" style="border-width:0px; width:100px;"></td>
    <td width="100" style="border-width:0px; width:100px;"></td>
    <td width="100" style="border-width:0px; width:100px;"></td>
    <td width="100" style="border-width:0px; width:100px;"></td>
    <td width="100" style="border-width:0px; width:100px;"></td>
    <td width="100" style="border-width:0px; width:100px;"></td>
    <td width="100" style="border-width:0px; width:100px;"></td>
  </tr>
  <tr> 
    <td rowspan="2" colspan="4" style="border-top:0px;border-left:0px;">
      <div class="geared" style="font-size:80px;text-transform:uppercase;">
	AWESOME 
      </div>
    </td>
    <td rowspan="2" colspan="2" style="border-top:0px;">
      <img width="100%" src="/assets/logo3.png">
    </td>
    <td rowspan="2" colspan="4" class="bebas" style="border-top:0px;border-right:0px;">
      <div style="font-size:100px;text-transform:uppercase;">
	IS BETTER?
      </div>
    </td>
    <td colspan="2" style="border-top:0px;border-right:0px;">
      <div class="edmond" style="font-size:20px;text-transform:uppercase;text-align:left;margin-top:10px;"> Over here</div>
    </td>

  </tr>
  <tr>
    <td colspan="2" rowspan="2" style="border-top:0px;border-right:0px;">
      <div class="lincoln" style="font-size:50px;line-height:40px;text-transform:uppercase;text-align:left;"> Hey there, Yeah you!</div>
    </td>
  </tr>
  <tr>
    <td colspan="10" rowspan="1" style="border-left:0px;height:50px;">
      <div class="edmond" style="font-size:30px;">
	⁕ STUFF ⁕ THINGS ⁕ ODDS ⁕ ENDS ⁕ AND SO ON ⁕
      </div>
    </td>
  </tr>
<tr>
    <td colspan="3" rowspan="1" style="border-left:0px;">
      <div class="fairview" style="font-size:80px;line-height:75px;">
      FIND OUT WHAT'S COOKING
      </div>
    </td>
    <td colspan="7" rowspan="3" style="border-left:0px;">
      <div class="tablet" style="font-size:100px;line-height:100px;text-transform:uppercase;text-align:left;margin-top:20px;">
	   Red <br />Emma's
      </div>
    </td>
    <td colspan="2" rowspan="3" style="border-right:0px;">
      <div class="bebas" style="font-size:90px;line-height:95px;">
	Some more stuff
      </div>
    </td>
</tr>
<tr>
  <td colspan="3" rowspan="1" style="border-left:0px;height:50px;">
      <div class="bebas" style="font-size:90px;line-height:95px;">
	UP DA PUNX
      </div>
  </td>
</tr>


</table>
</div>
</center>
