<% content_for :title do%>
Home    
<% end %>

<% content_for :description do%>Worker cooperative radical bookstore, vegan/vegetarian restaurant, and coffee roaster in Baltimore.<% end %>


<script type="text/javascript" src="//use.typekit.net/rxq1igq.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
<link href='http://fonts.googleapis.com/css?family=Copse' rel='stylesheet' type='text/css'>

<div class="container" id="holder">
  <div class="row">
    <div class="span2" id="frontleft">
      <%= image_tag "redemmas/emmas.png" %>
    </div>
    <div class="span7">

    <div  id="fronttextfluid">
      <p id="front_1" class="adobegaramondpro">Welcome to Red Emma's.</p>
      <p id="front_2" class="adobegaramondpro italics">We're a radical <a href="/books">{bookstore}</a></p>
      <p id="front_3" class="copse" >and a vegetarian <a href="/food">{restaurant}</a></p>
      <p id="front_4" class="chunk" >and a <a href="/thread">{coffee}</a> roaster</p>
      <p id="front_5" class="adobegaramondpro bold"  >and a space for public <a href="/events">{events}</a>.</p>
    </div>
      <p class="proxima light justify front_whoweare">We are a worker cooperative and family of projects dedicated to
	autonomy, sustainability, participatory democracy, and solidarity.</p>
      <p class="menubar copse">
	<a href="/books">books</a>
	<a href="/food">food</a>
	<a href="/thread">coffee</a>
	<a href="/events">events</a>
	<a href="/blog">news</a>
	<a href="/about">about</a>
	<a href="/pages/contact">contact</a>
      </p>
<br />
<p>
  <a href="http://bookfair.redemmas.org"><%= image_tag "redemmas/rbf2015.png",:width=>"90%" %></a></p>
    <p class="caslon justify front_moreaboutus">Since 2004, our space has been a grassroots answer to the collapse of civic infrastructure, a radical gathering place and experiment in self-organized education, all made possible by a horizontally organized collective of folks who own the underlying business cooperatively.  We also serve some amazing ethically sourced food and a fine cup of transparently traded coffee.</p>


    <%= @instagram.html_safe %>

    <p class="adobegaramondpro front_address">30 W. North Ave | Baltimore, MD | info@redemmas.org</p>
    <p class="copse front_moreprojects">Plus <a href="http://2640.redemmas.org">2640</a> & <a href="http://freeschool.redemmas.org">The Baltimore Free School</a> & <a href="/thread">Thread Coffee</a> &gt;</p>

    </div>
    
  </div>
</div>
