
<center>
<div style="border-left:7px solid #333;border-right:7px solid #333;width:1200px;position:relative;top:-10px;">
<table style="width:1200px">
  <tr>
    <td width="100" style="border-width:0px; width:100px;"></td>
    <td width="100" style="border-width:0px; width:100px;"></td>
    <td width="100" style="border-width:0px; width:100px;"></td>
    <td width="100" style="border-width:0px; width:100px;"></td>
    <td width="100" style="border-width:0px; width:100px;"></td>
    <td width="100" style="border-width:0px; width:100px;"></td>
    <td width="100" style="border-width:0px; width:100px;"></td>
    <td width="100" style="border-width:0px; width:100px;"></td>
    <td width="100" style="border-width:0px; width:100px;"></td>
    <td width="100" style="border-width:0px; width:100px;"></td>
    <td width="100" style="border-width:0px; width:100px;"></td>
    <td width="100" style="border-width:0px; width:100px;"></td>
  </tr>
  <tr> 
    <td rowspan="2" colspan="4" style="border-top:0px;border-left:0px;">
      <div class="geared" style="font-size:80px;text-transform:uppercase;">
	AWESOME 
      </div>
    </td>
    <td rowspan="2" colspan="2" style="border-top:0px;">
      <img width="100%" src="/assets/logo3.png">
    </td>
    <td rowspan="2" colspan="4" class="bebas" style="border-top:0px;border-right:0px;">
      <div style="font-size:100px;text-transform:uppercase;">
	IS BETTER?
      </div>
    </td>
    <td colspan="2" style="border-top:0px;border-right:0px;">
      <div class="edmond" style="font-size:20px;text-transform:uppercase;text-align:left;margin-top:10px;"> Over here</div>
    </td>

  </tr>
  <tr>
    <td colspan="2" rowspan="2" style="border-top:0px;border-right:0px;">
      <div class="lincoln" style="font-size:50px;line-height:40px;text-transform:uppercase;text-align:left;"> Hey there, Yeah you!</div>
    </td>
  </tr>
  <tr>
    <td colspan="10" rowspan="1" style="border-left:0px;height:50px;">
      <div class="edmond" style="font-size:30px;">
	⁕ STUFF ⁕ THINGS ⁕ ODDS ⁕ ENDS ⁕ AND SO ON ⁕
      </div>
    </td>
  </tr>
<tr>
    <td colspan="3" rowspan="1" style="border-left:0px;">
      <div class="fairview" style="font-size:80px;line-height:75px;">
      FIND OUT WHAT'S COOKING
      </div>
    </td>
    <td colspan="7" rowspan="1" style="border-left:0px;">
      <div class="tablet" style="font-size:100px;line-height:100px;text-transform:uppercase;text-align:left;margin-top:20px;">
	   Red <br />Emma's
      </div>
    </td>
    <td colspan="2" rowspan="2" style="border-right:0px;">
      <div class="bebas" style="font-size:90px;line-height:95px;">
	Some more stuff
      </div>
    </td>
</tr>
<tr>
  <td colspan="10" style="border-left:0px;height:50px;"></td>
</tr>

</table>
</div>
</center>
