 
<center data-anachronism="rolling like it's 1996.">
<div id="holder" style="width:1000px;">

  <div class="tablet twothirds oneandaquarterrow" style="position:absolute;top:205px;left:166px;border-bottom:5px solid #fafafa;">
    <div id="redemmasfp" class="" style="padding-top:65px;font-size:118px;"><p>RED EMMA'S</p></div>
  </div>

  <div class="lincoln sixth onepointfiverows" style="position:absolute;top:205px;left:0px;border-right:5px solid #fafafa;border-bottom:5px solid #fafafa;">
    <a href="/events" class="fitinner" style="padding:10px;">
      <p>Coming up!</p>
      <p>EVENTS</p>
      <p>IN THE STORE</p>
      <p>& COMMUNITY</p>
    </a>
  </div>

  <div class="bebas third halfrow" style="position:absolute;left:166px;top:382px;border-right:5px solid #fafafa;border-bottom:5px solid #fafafa;">
    <div class="fit" style="margin-top:3px;"><a href="/coffee">~~THREAD COFFEE~~&nbsp;&nbsp;&nbsp;&nbsp;</a></div>
  </div>


  <div class="arvo half halfrow" style="position:absolute;right:0px;top:382px;border-bottom:5px solid #fafafa;">
    <div class="fit"><a href="/specials">Weekly specials from the kitchen&nbsp;&nbsp;&nbsp;</a></div>
  </div>

  <div class="abril third onerow" style="position:absolute;top:0px;left:0px;border-right:5px solid #fafafa;">
    <div class="fit"><a  href="/menu">Menu&nbsp;&nbsp;</a></div>
  </div>

  <div class="sixth onerow" style="position:absolute;top:0px;left:340px;">
    <img width="130" src="/assets/logo3.png">
  </div>

  <div class="abril third onerow" style="position:absolute;top:0px;left:500px;border-left:5px solid #fafafa;">
    <div class="fit"><a href="/books">Books&nbsp;&nbsp;</a></div>
  </div>

  <div class="sixth edmond halfrow" style="position:absolute;top:0px;right:0px;border-left:5px solid #fafafa;">
    <a href="/where" class="fitinner" style="padding-top:5px;">
      <p>30 W. NORTH</p><p>BALTIMORE, MD</p>
    </a>
  </div>

  <div class="sixth copse twoandaquarterrows" style="position:absolute;top:60px;right:0px;border-left:5px solid #fafafa;border-bottom:5px solid #fafafa;border-top:5px solid #fafafa;">
    <div class="fitinner">
      <p>We are a</p>
      <p>worker-owned</p>
      <p>cooperative</p>
      <p>bookstore,</p>
      <p>restaurant,</p>
      <p>coffee roaster,</p>
      <p>& event space</p>
      <p>dedicated to</p>
      <p>sustainability,</p>
      <p>participatory</p>
      <p>democracy,</p>
      <p>autonomy, and</p>
      <p>solidarity.</p>
    </div>
  </div>

  <div class="fivesixths edmond halfrow" style="position:absolute;left:0px;top:135px;border-bottom:5px solid #fafafa;border-top:5px solid #fafafa;" >
    <div class="fit">⁕ <a href="/menu">FOOD</a> ⁕ <a href="/coffee">COFFEE</a> ⁕ <a href="/books">BOOKS</a> ⁕ <a href="/events">EVENTS</a> ⁕ <a href="/about">ABOUT</a> ⁕ <a href="/contact">CONTACT</a> ⁕ &nbsp;</div>
  </div>
 
  <div class="sixth geared halfrow rightborder" style="position:absolute;left:0px;top:650px;height:65px;padding-top:10px;" >
    <div class="fitinner">
      <p>FOLLOW US</p> 
      <p><a href="http://twitter.com/redemmas">@redemmas</a></p>
    </div>
  </div>
 
 <div class="quarter copse onepointfiverows rightborder" style="position:absolute;left:580px;top:445px;height:275px;" >
   <a href="/blog" style="padding-left:18px;padding-right:18px;padding-top:5px;" class="fitinner">
     <p>READ</p><p>—OUR—<p>LATEST</p><p>NEWS</p><p>& UPDATES</p>
   </a>
 </div>

 <div class="sixth arvo onerow topborder" style="position:absolute;right:0px;top:660px;height:75px;width:150px;" >
   <a class="fitinner" href="http://facebook.com/redemmas" style="display:block;padding-top:5px;"><p>LIKE US ON</p><p>FACEBOOK</p></a>
 </div>

<!-- <div class="third edmond onepointsevenfiverows bottomborder" style="position:absolute;right:0px;top:450px;" >
   <a href="http://eepurl.com/sLosj" style="display:block;" class="fitinner">
     <p>KEEP UP TO DATE</p>
     <p>JOIN <span style="font-family:'AllHands';position:relative;top:-13px;">&amp;</span></p><p>OUR LIST!</p>
   </a>
 </div>
-->
     
<div class="sixth edmond onepointfiverows " style="position:absolute;right:0px;top:450px;padding-bottom:10px;" >
   <a href="http://eepurl.com/sLosj" style="display:block;" class="fitinner">
     <p>KEEP UP</p><p> TO DATE</p>
     <p>JOIN <span style="font-family:'AllHands';position:relative;top:-13px;">&amp;</span></p><p>OUR EMAIL</p><p>LIST!</p>
   </a>
 </div>

<div class="fivetwelths edmond tworows rightborder" style="position:absolute;left:167px;top:447px;background-image:url('https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-ash3/944774_514439191937641_281809335_n.png');background-position:center;height:273px;" >
<div class="fitinner" style="position:absolute;bottom:10px;">
      <p>New cupcakes:<br/> strawberry lemonade!</p>
</div>
  </div>
  

  <div class="bebas sixth onepointsevenfiverows rightborder bottomborder" style="position:absolute;left:0px;top:410px;padding-top:10px;">
  <div class="fitinner">
    <p><a href="http://freeschool.redemmas.org">THE FREE<br />SCHOOL</a></p>
    <p style="padding-top:12px;padding-bottom:12px;">&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-family:'Bergamot Ornaments';">y</span>&nbsp;&nbsp;&nbsp;&nbsp;</p>
    <p><a href="http://2640.redemmas.org">2640</a></p>
  </div>
  </div>

</div>
</center>



