<script type="text/javascript" src="//use.typekit.net/rxq1igq.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
<link href='http://fonts.googleapis.com/css?family=Copse' rel='stylesheet' type='text/css'>

<div class="container" id="holder">
  <div class="row">
    <div class="span2" id="frontleft">
      <%= image_tag "redemmas/emmas.png" %>
    </div>
    <div class="span7">

    <div  id="fronttextfluid">
      <p id="front_1" class="adobegaramondpro">Welcome to Red Emma's.</p>
      <p id="front_2" class="adobegaramondpro italics">We're a radical <a href="#">{bookstore}</a></p>
      <p id="front_3" class="copse" >and a vegetarian {restaurant}</p>
      <p id="front_4" class="chunk" >and a {coffee} roaster</p>
      <p id="front_5" class="adobegaramondpro bold"  >and a space for public {events}.</p>
    </div>
      <p class="proxima light justify front_whoweare">We are a worker cooperative and family of projects dedicated to
	autonomy, sustainability, participatory democracy, and solidarity.</p>
      <p class="menubar copse">
	<a href="#">books</a>
	<a href="#">menu</a>
	<a href="#">coffee</a>
	<a href="#">events</a>
	<a href="#">news</a>
	<a href="#">about</a>
      </p>
    <p class="caslon justify front_moreaboutus">Since 2004, our space has been a grassroots answer to the collapse of civic infrastructure, a radical gathering place and experiment in self-organized education, all made possible by a horizontally organized collective of folks who own the underlying business cooperatively.  We also serve some amazing ethically sourced food and a fine cup of transparently traded coffee.</p>

    <p class="adobegaramondpro front_address">30 W. North Ave | Baltimore, MD | info@redemmas.org</p>
    <p class="copse front_moreprojects">Plus <a href="#">2640</a> & <a href="#">The Baltimore Free School</a> & <a href="#">Thread Coffee</a> &gt;</p>
	     
    </div>
    
  </div>
</div>
