 
<center>
<div style="position:relative;">
<div id="holder" style="height:875px;border-left:0px solid #333;border-bottom:0px solid #333;border-right:0px solid #333;width:1195px;position:relative;">

  <div  class="edmond fivesixths" style="position:absolute;top:260px;left:200px;text-align:left;">
    <div style="width:250px;position:absolute;top:0px;left:0px;padding-top:20px;">
      <img src="http://www.akpress.org/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/9/7/9781849351164.jpg">
      <a class="mybutton" style="font-size:30px;display:block;">
	Buy this book 
      </a>
      <div class="bookdata">
	<p>Price: <span style="float:right">$19.95</span></p>
	<p>ISBN: <span style="float:right">978123456789</span></p>
	<p>Release Date: <span style="float:right">2012</span></p>
	<p>Publisher: <span style="float:right">AK Press</span></p>
	<p>Format: <span style="float:right">Paperback</span></p>

      </div>
    </div>
    
    <div class="bookdetails">


    <div class="text" style="padding-top:0px;">
    <div class="booktitle" style="padding-top:0px;">We Are Many: Reflections on Movement Strategy from Occupation to Liberation</div>
    <div class="bookauthor">Kate Khatib, Margaret Killjoy, and Mike McGuire</div>
      <p>
      We have all been swept up by the momentum of the Occupy movement. We have seen the results of years of organizing in different communities come together in ways that few could have imagined, bolstered by the scores of people who have left the comfort of their daily routine behind and taken to the streets. Yet as a movement so overflowing with new social and political actors, we lack the framework we need to help us all to understand what a social movement is, to understand how change has happened in the past, to understand what this moment means and what this movement makes possible.
We Are Many is a reflection on Occupy from within the heart of the movement itself. Examining key questions—what worked? what didn’t? why? how? is it reproducible?—the authors and activists in this collection point toward a movement-based framework for future organizing. Heavily illustrated and annotated, We Are Many is a celebration of what worked, and a thoughtful analysis of what didn’t.
</p>
<p>
Michael Andrews, Michael Belt, Nadine Bloch, Rose Bookbinder, Mark Bray, Emily Brissette, George Caffentzis, George Ciccariello-Maher, Annie Cockrell, Joshua Clover, Andy Cornell, Molly Crabapple, CrimethInc., Croatoan, Paul Dalton, Chris Dixon, John Duda, Brendan M. Dunn, Lisa Fithian, Gabriella, David Graeber, Ryan Harvey, Gabriel Hetland, Marisa Holmes, Mike King, Koala Largess, Yvonne Yen Liu, Josh MacPhee, Manissa M. Maharawal, Yotam Marom, Cindy Milstein, Occupy Research, Joel Olson, Isaac Ontiveros, Morrigan Phillips, Frances Fox Piven, Vijay Prashad, Michael Premo, Max Rameau, RANT, Research & Destroy, Nathan Schneider, Jonathan Matthew Smucker, Some Oakland Antagonists, Lester Spence, Janaina Stronzake, Mattilda Bernstein Sycamore, Team Colors Collective, Janelle Treibitz, Unwoman, Immanuel Wallerstein, Sophie Whittemore, Kristian Williams, and Jaime Omar Yassin.
</p>

<p><b>Praise for We Are Many:</b></p>

      <p>“We Are Many brings together a chorus voices straight from the trenches of the Occupy movement, offering an honest, open series of self assessments and thoughtful critiques, and opening numerous windows into what might lie ahead. If participatory social movements are to learn from Occupy and continue to evolve, then this book is a firm step in the right direction.” —Gan Golan, co-author of Goodnight Bush and The Adventures of Unemployed Man</p>
      <p>“It is all too rare that in the process of creating the movement and living the moment, participants and thinkers step back and ask the most pressing questions. This book is an important step.” —Marina Sitrin, author of Horizontalism</p>
    </div>
    </div>
  </div>



  <div class="lincoln sixth tworows" style="position:absolute;top:260px;left:0px;">
    <a href="/events" class="fitinner" style="padding-top:10px;padding-bottom:10px;padding-right:20px;padding-left:20px;">
      <p>HEY</p>
      <p>FIND OUT</p>
      <p>ABOUT</p>
      <p>—OUR—</p>
      <p>EVENTS!</p>
    </a>
  </div>


<!--
  <div class="tablet quarter onerow" style="position:absolute;top:0px;left:0px;">
    <a href="/" class="fitinner" style="padding-top:30px;"><p>RED EMMA'S</p></a>
  </div>
-->

  <div class="sixth onerow" style="position:absolute;top:0px;left:0px;">
    <img width="160" src="/assets/logo3.png" style="margin-top:5px;">
  </div>

  <div class="abril twothirds onerow" style="position:absolute;top:0px;left:200px;">
    <div class="fit"><a href="/books">&nbsp;Books and more&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></div>
  </div>

  <div class="sixth edmond halfrow" style="position:absolute;top:0px;right:0px;">
    <a href="/where" class="fitinner" style="padding-top:5px;">
      <p>30 W. NORTH</p><p>BALTIMORE, MD</p>
    </a>
  </div>

  <div class="sixth copse onerow" style="position:absolute;top:80px;right:0px;">
    <div class="fitinner">
      <p>Red Emma's</p>
      <p>is a worker-owned</p>
      <p>cooperative</p>
      <p>bookstore,</p>
      <p>restaurant,</p>
      <p>coffee roaster,</p>
      <p>& event space.</p>
    </div>
  </div>

  <div class="fivesixths edmond halfrow" style="position:absolute;left:0px;top:180px;" >
    <div class="fit">⁕ <a href="/menu">FOOD</a> ⁕ <a href="/coffee">COFFEE</a> ⁕ <a href="/books">BOOKS</a> ⁕ <a href="/events">EVENTS</a> ⁕ <a href="/about">ABOUT</a> ⁕ <a href="/contact">CONTACT</a> ⁕ </div>
  </div>
 

  

  <div class="bebas sixth onepointfiverows" style="position:absolute;left:0px;top:620px;">
  <div class="fitinner">

    
    <p><a href="http://freeschool.redemmas.org">THE FREE<br />SCHOOL</a></p>
    <p style="padding-top:12px;padding-bottom:12px;">&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-family:'Bergamot Ornaments';">y</span>&nbsp;&nbsp;&nbsp;&nbsp;</p>
    <p><a href="http://2640.redemmas.org">2640</a></p>
  </div>
  </div>

<div id="footer">
  Hi Hi Hi Hi Hi Hi Hi Hi Hi Hi Hi Hi Hi Hi Hi Hi Hi Hi Hi Hi Hi Hi Hi Hi Hi Hi Hi Hi Hi Hi Hi
</div>



</div>

</div>

</center>





