<% content_for :title do%>
Fight Fascism and Impeach 45!
<% end %>

<% content_for :og do%> 
<%= tag "meta", :property=>"og:title",:content=>"Fight Fascism and Impeach 45!" %>
<%= tag "meta", :property=>"og:type",:content=>"website" %>
<META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW"> 
<meta property="og:image" content="https://redemmas.org/uploads/image/the_image/109/reasonable_original.jpeg">
<%= tag "meta", :property=>"og:url",:content=>"https://redemmas.org/orderfoodonline" %>


<% end %>

<% content_for :description do%>A special promotion for readers of The Nation<% end %>




<div id="my-store-12007531"></div>
<div>
<script type="text/javascript" src="https://app.ecwid.com/script.js?12007531&data_platform=code&data_date=2017-08-27" charset="utf-8"></script><script type="text/javascript"> xProductBrowser("categoriesPerRow=3","views=grid(20,3) list(60) table(60)","categoryView=grid","searchView=list","id=my-store-12007531","defaultProductId=90607982");</script>
</div>


