$nearwhite:#fafafa;
$nearblack:#000810;
$darkred:#7C1212;
$lightgrey:#c9c2b0; 
$lightbrown:#b5a57f; //good but too dark?
$lightbrown:#bcb093;
$nearwhitetwo:#fafafa;
$red:#b4282e;
$lightred:#e59179;
$lightred:#cb3e38; //
$lightishgrey:#80807f;
$johnsgrey:#444a50;



.faint {
color:$lightishgrey;	
}


body {
font-family:"adobe-caslon-pro";
color:$nearblack;
}

#pagenav {
display:none;
}

#heroCarousel .caption{
color:$nearwhite;
font-family: "proxima-nova";
font-weight:500;
}

#heroCarousel .heroheader{
color:$nearwhite;
font-family: "proxima-nova";
font-weight:500;
}




h3.contributors{
font-weight:normal;
}


.pages .introduction {
margin-top:30px;
}

.pages .introduction p, .pages .introduction p span,.pages .introduction li{
font-family:"garamond-premier-pro-display";
font-family:"adobe-caslon-pro";
color:$johnsgrey;
}

.pages .body p, .pages .body p span, .pages .body ul, .pages .body li{
color:$johnsgrey;
}

#main {
background-color:white;
color:$nearblack;
}

#realcontent {
padding-top:60px;
}

h1 {
font-family:"garamond-premier-pro-display";
//font-family:"adobe-garamond-pro";
font-weight:400;
}

h2 {
font-family:"garamond-premier-pro-display";
font-weight:300;
line-height:28px;
}



.content h2 a, .content h2 a:visited{
color:$nearblack;
}

.content h3 a, .content h3 a:visited { 
color:$nearblack;
}



#top {
background-color:$lightgrey;
}


.body p {

}
.pages .body li{
margin-left:40px;
}

.pages .body p, .pages .body p span,.pages .body li{


-webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
text-align:justify;


}



.frontpage .navbar {
display:none;
}

.frontpage {
padding-bottom:100px;
}

.frontpage #fronttextfluid{
padding-top:100px;
}

#frontleft {
padding-top:32px;
}

#realcontentinner {
margin-top:72px;
}

 .frontpage #frontleft {
padding-top:72px;
}

.frontpage #fronttext p {
text-align:justify;
margin-bottom:50px;
}

.frontpage #fronttextfluid a {
color:#000000;
}

.frontpage #fronttextfluid a:hover {
color:#ff0000;
text-decoration:none;
}

.adobegaramondpro {
font-family:'adobe-garamond-pro';
}

.chunk {
font-family:chunk;
}

.italics {
font-style:italic;
}

.bold {
    font-weight:bold;
}

.light {
    font-weight:100;
}

.proxima {
    font-family:"proxima-nova";
    font-weight:300;
}

.justify{
    text-align:justify;
}

div.menusubinner p {
margin-bottom:0px;
}

div.menusubinner a {
margin-bottom:5px;
}

div.bottommenuwrapper p {
margin-bottom:0px;
}

div.bottommenuwrapper>a {
margin-bottom:11px;
}

.menubar>div>a:before,.frontpage .menubar a:before,div.bottommenuwrapper>a:before {
content:"{";
}
.menubar>div>a:after,.frontpage .menubar a:after,div.bottommenuwrapper>a:after {
content:"}";
}



#menubar a:hover {
color:#ccc !important;
}

.menubar>div:hover>a:before{
content:"{";
color:$lightred;
opacity:.95;
}
.menubar>div:hover>a:after {
content:"}";
color:$lightred;
opacity:.95;

}


.bottommenuwrapper {
float:left;
width:10%;
margin-left:3%;
text-align:center;
font-size:22px;
color:$nearwhite;
font-family:Copse;
}

.bottommenuwrapper a{
display:block;
}

.bottommenusubinner {
font-size:16px;
}

.bottommenusubinner p {
margin-bottom:0px !important;
}




.menubar a {
    color:$lightred;
}

.menubar a:hover {
    text-decoration:none;
}

.menubar>.menuwrapper>a:hover {
    color:$nearwhite; 
    text-decoration:none;
    -webkit-border-top-left-radius: 2px;
-webkit-border-top-right-radius: 2px;
-moz-border-radius-topleft: 2px;
-moz-border-radius-topright: 2px;
border-top-left-radius: 2px;
border-top-right-radius: 2px;

}

.copse {
    font-family:Copse;
}

.caslon {
    font-family:"adobe-caslon-pro";
}

.front_moreaboutus,.front_address {
//color:#6b6b6b;
//color:#525353;
//color:#6b6c6c;
//color:$lightishgrey; this one kate likes
opacity:.7;
}

.front_address {
    padding-top:20px;
    padding-bottom:15px;
    margin-bottom:15px;
    border-bottom:1px solid $lightred;
}

.front_moreprojects {
    color:$lightred;
}

.front_moreprojects a{
//    color:$lightishgrey;
color:$nearblack;
opacity:.6;
}

.front_moreprojects a:hover{
text-decoration:none;
color:$nearblack;
}



#bottombar {
background-color:$nearblack;
color:$nearwhite;

}

#mc_embed_signup form {
padding-left:0px !important;
padding-right:0px !important;
font-family:Copse !important;
}

#mc_embed_signup form input {
font-family:Copse !important;
}

#mc_embed_signup .button {
font-weight:normal !important;
}

#mc_embed_signup .button{
background-color:#666 !important;}

#mc_embed_signup .button:hover {
    background-color:#aaa !important;
}

#bottomsocial img {
background-color:#666;
}



#bottomnetworks img {
    width:40%;
    display:inline;
    margin-bottom:8px;
}

#bottomsocial img:hover {
background-color:#aaa;}

#bottomsocial a:first-child {
margin-right:12px;
}

.bottommenubar a,.bottommenuwrapper a {
color:$nearwhite;	
}

.bottommenubar a:hover,.bottommenuwrapper a:hover {
color:$lightred;
text-decoration:none;
}

.front_whoweare{
opacity:.9;
}

.griditem {
width:185px;
padding:10px;
float:left;
}

.event {
width:225px;
padding:10px;
float:left;
}

.event_description {
margin-left:300px;
}

.griditeminner {
    height:165px;
    background-size:cover;
    margin:10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.eventinner {
    height:205px;
    background-size:cover;
    margin:10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}


.griditem:nth-child(3n+1){
clear:left;
}

.griditem:nth-child(2),.griditem:nth-child(5),.griditem:nth-child(8),.griditem:nth-child(11){  

}


.griditemdescription {
padding-left:10px;
padding-right:10px;
position:relative;
top:-30px;
}

.griditemtitle {
text-align:center;
padding:5px;
padding-top:9px;
position:relative;
top:-60px;
background-color:#1f2020;
background-color:rgba(31,32,32,.75);
color:$nearwhite;
}

.eventoverlay {
text-align:center;
padding:5px;
padding-top:9px;
position:relative;
top:-60px;
background-color:#1f2020;
background-color:rgba(31,32,32,.75);
color:$nearwhite;
font-size:14px;
}


.griditem:hover .griditeminner {
opacity:0.5;
filter:brightness(0.5);
-webkit-filter:brightness(0.5);
}


.griditem:hover .griditemtitle  {
background-color:$lightred;
background-color:rgba(203,62,56,.75);
}

.event:hover .eventinner {
opacity:0.5;
filter:brightness(0.5);
-webkit-filter:brightness(0.5);
}


.event:hover .eventoverlay  {
background-color:$lightred;
background-color:rgba(203,62,56,.75);
}


.gridborder {
border:1px solid $nearwhite;
position:relative;
top:5px;
left:5px;
width:153px;
height:153px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;

}

.eventborder {
border:1px solid $nearwhite;
position:relative;
top:5px;
left:5px;
width:193px;
height:193px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
}



/* for "normal desktops" */


    .frontpage .menubar a{
	font-size:19px;
    }   	       


    #front_1 {
	font-size:45px;
    }

    #front_2 {
	margin-top:23px;
	line-height:65px;
	font-size:46px;
    }

    #front_3 {
	line-height:35px;
	font-size:35px;
    }

    #front_4 {
	margin-top:22px;
	line-height:40px;
	font-size:43px;
    }

    #front_5 {
	margin-top:20px;
	margin-bottom:25px;
	line-height:24px;
	font-size:36px;
    }

    .front_whoweare {
	font-size:20px;
	line-height:30px;
	position:relative;
	top:-10px;
	padding-right:80px;
    }
    
    .menubar {
	font-size:21px;
//	margin-bottom:20px;
	margin-top:85px;
    }
    
    .menubar a{
//	margin-right:8px;
	padding-bottom:2px;
    }
    
    .front_moreaboutus {
	font-size:20px;
	line-height:28px;
	padding-right:80px;
    }

    .front_address {
	font-size:20px;
	margin-right:80px;
    }

    .front_moreprojects {
	font-size:18px;
    }

    .bottommenubar {
	font-size:18px;
    }

    #bottomtag {
	font-size:20px;
	line-height:30px;
	margin-top:24px;
    }

/*       .navbar>ul li:last-child a:after	{
        content:" NORMAL";   
}*/	  		             

/* end for "normal desktops" */

/* Large desktop */
@media (min-width: 1200px) {
       /*
       .navbar>ul li:last-child a:after {
          content:" LARGE";   
}	 */ 		             



    #front_1 {
	font-size:55px;
    }

    #front_2 {
	margin-top:23px;
	line-height:65px;
	font-size:56px;
    }

    #front_3 {
	line-height:40px;
	font-size:43px;
    }

    #front_4 {
	margin-top:22px;
	line-height:40px;
	font-size:53px;
    }

    #front_5 {
	margin-top:20px;
	margin-bottom:25px;
	line-height:40px;
	font-size:44px;
    }

    .front_whoweare {
	font-size:20px;
	line-height:30px;
	position:relative;
	top:-10px;
	padding-right:95px;
    }
    
    .menubar {
	font-size:24px;
//	margin-bottom:20px;
	margin-top:100px;
    }

    .frontpage .menubar a{
	font-size:24px;
    }   	       

    
    .menubar a{
//	margin-right:13px;
	padding-bottom:0px;	
    }
        
    .front_moreaboutus {
	font-size:20px;
	line-height:28px;
	padding-right:95px;
    }

    .front_address {
	font-size:25px;
	margin-right:90px;
    }

    .front_moreprojects {
	font-size:21px;
    }

    .bottommenubar {
	font-size:22px;
    }

    .griditem {
    width:222px;    
    }

    .griditeminner {
	height:202px;
    }

    .gridborder {
	width:190px;
	height:190px;

    }

    


}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) { 
/*
       .navbar>ul li:last-child a:after{
           content:" BIG TABLET";   
       }	  		             */


    .frontpage .menubar a {
font-size:16px;
	}


       #mce-EMAIL {
	   width:100px !important;
	   min-width:100px !important;
       }
       
       .bottommenubar {
	   font-size:14px;
       }

       #bottomnetworks img {
	   width:75%;
       }


    #front_1 {
	font-size:40px;
    }

    #front_2 {
	margin-top:20px;
	line-height:40px;
	font-size:40px;

    }

    #front_3 {
	margin-top:20px;
	line-height:10px;
	font-size:30.5px;
    }

    #front_4 {
	margin-top:22px;
	line-height:40px;
	font-size:36px;
    }

    #front_5 {
	margin-top:15px;
	margin-bottom:25px;
	line-height:20px;
	font-size:32px;
    }

    .front_whoweare {
	font-size:19px;
	line-height:29px;
	position:relative;
	top:-10px;
	padding-right:15px;
    }
    
    .menubar {
	font-size:15px;
//	margin-bottom:20px;
	margin-top:65px;
    }
    
    .menubar a{
//	margin-right:11px;
    }
    
    .front_moreaboutus {
	font-size:19px;
	line-height:28px;
	padding-right:15px;
    }

    .front_address {
	font-size:17px;
	margin-right:15px;
    }

    .front_moreprojects {
	font-size:16px;
    }

    #realcontentinner {
	margin-top:0px;
    }
    .pages .introduction {
	margin-top:0px;
    }

    #bottomsocial img {
	width:32px;
    }

    .griditem:nth-child(3n+1) {
	clear:none;
    }
    
    .griditem:nth-child(odd) {
	clear:left;
    }

    .griditem {
    width:210px;    
    }

    .griditeminner {
	height:190px;
    }

    .gridborder {
	width:178px;
	height:178px;

    }



}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 
/*              .navbar>ul li:last-child a:after {
          content:" BIG PHONE";   
}*/	  		             

.frontstagram .thumbnail {
width: 420px;
}

.frontpage .menubar a {
font-size:16.5px;
}

.bottommenuwrapper {
float:none;
width:100%;
margin-bottom:33px;
}

      #frontleft img {
      		 width:150px;
      }	

      #menubar {
      margin-top:70px;
      }
      

#topdetails {
position:absolute;
top:0px;
right:0px;
}

#bottomtag {
    margin-left:40px;
    margin-right:40px;
}
	      
#bottomnetworks {
    a img {margin-left:40px;}
}	      
           

.frontpage .menubar {
padding-bottom:0px;
}

    .frontpage #frontleft {
	padding-top:20px;
    }

    .frontpage #fronttextfluid {
    	padding-top:40px;
    }


    #front_1 {
	font-size:40px;
    }

    #front_2 {
	margin-top:20px;
	line-height:40px;
	font-size:40px;

    }

    #front_3 {
	margin-top:20px;
	line-height:10px;
	font-size:30.5px;
    }

    #front_4 {
	margin-top:22px;
	line-height:40px;
	font-size:36px;
    }

    #front_5 {
	margin-top:15px;
	margin-bottom:25px;
	line-height:10px;
	font-size:32px;
    }

    .front_whoweare {
	font-size:19px;
	line-height:29px;
	position:relative;
	top:-10px;
	width:420px;
	
    }
    
    .menubar {
	font-size:16px;
//	margin-bottom:20px;
	margin-top:20px;
	padding-bottom:50px;
    }
    
    .menubar a{
//	margin-right:8px;
    }
    
    .front_moreaboutus {
	font-size:19px;
	line-height:28px;
	width:420px;
    }

    .front_address {
	font-size:18px;
	width:420px;
    }

    .front_moreprojects {
	font-size:17px;
    }

    .bottommenubar a{
	font-size:18px;
	display:block;
	margin-left:40px;
    }
    
    #bottomsocial {
	margin-left:40px;
    }

    .griditem:nth-child(odd) {
	clear:none;
    }
    
    .griditem {
    width:300px;    
    }

    .griditeminner {
	height:280px;
    }

    .gridborder {
	width:268px;
	height:268px;

    }

    .grid {
	text-align:center;
    }
    
    .griditem {
	float:none;
    }

    .events .event_description {
	margin-left:0px;
    }
    
    .events .event {
    	float:none;
    }   	

}
 
/* Landscape phones and down */
@media (max-width: 480px) { 
/*              .navbar>ul li:last-child a:after {
          content:" SMALL PHONE";   
}*/	  		             
    .events .event_description {
	margin-left:0px;
    }
    
    .events .event {
    	float:none;
    }   	


      #frontleft img {
      		 width:100px;
      }	

.frontstagram .thumbnail {
width: 320px;
}
				     

        #front_1 {
	font-size:30px;
	line-height:30px;
	}

    #front_2 {
	margin-top:20px;
	line-height:30px;
	font-size:30px;

    }

    #front_3 {
	margin-top:20px;
	line-height:24px;
	font-size:24px;
    }

    #front_4 {
	margin-top:22px;
	line-height:28px;
	font-size:28px;
    }

    #front_5 {
	margin-top:15px;
	margin-bottom:25px;
	line-height:25px;
	font-size:25px;
    }

    .front_whoweare {
	font-size:19px;
	line-height:29px;
	position:relative;
	top:-10px;
	width:320px;
	
    }
    
    .menubar {
	font-size:12px;
//	margin-bottom:20px;
	margin-top:0px;
	padding-bottom:30px;
    }
    
    .menubar a{
	margin-right:5px;
    }
    
    .front_moreaboutus {
	font-size:19px;
	line-height:28px;
	width:320px;
    }

    .front_address {
	font-size:13px;
	width:320px;
    }

    .front_moreprojects {
	font-size:14px;
    }

#bottomnetworks img {
    width:20%;

}



}


	
	
/* Sticky footer styles
   -------------------------------------------------- */

html,
body {
    height: 100%;
/* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
        /* Negative indent footer by it's height */
    margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
    height: 60px;
}
#footer {
    background-color: #f5f5f5;
      }

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
    #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}



.navbar-fixed-top {
font-family: "proxima-nova";
}

.navbar-fixed-top .navbar-inner {
padding-left:20px;
}

#menubar .menuwrapper {
position:relative;
display:inline-block;
height:30px;
}

#menubar a {
position:relative;
}

#menubar img {
position:absolute;
bottom:40px;
left:0px;
display:none;
width:70px !important;
margin-left:auto;
margin-right:auto;
}

#menubar div.menuwrapper:last-child img {
width:50px !important;
}


#menubar .menusub {
font-family:Copse;
font-weight:bold;
color:$nearwhite;
font-size:14px;	
display:none;
background-color:rgba(0,8,16,.9);
background-color:$lightred;
opacity:.95;
-webkit-border-bottom-left-radius: 2px;
-moz-border-bottom-left-radius: 2px;
border-bottom-left-radius: 2px;
-webkit-border-bottom-right-radius: 2px;
-moz-border-bottom-right-radius: 2px;
border-bottom-right-radius: 2px;
width:100%;
position:absolute;
top:25px;
overflow:hidden;
}

.menusubinner {
padding:5px;
}



#menubar .menuwrapper:last-child .menusub,#menubar .menuwrapper:nth-child(6) .menusub {

}



.menusub a{color:$nearwhite;}
.menusub a:hover{color:$nearblack;}


.carousel-control {
padding-top:20px; 
}


.frontpage .menubar {
margin-top:0px; 
}


.btn {
font-family:proxima-nova;
}

a {
color:$lightred;
}

.grid h2 {
      font-size:18px;
      line-height:22px;
      font-family:adobe-caslon-pro;
}

.grid h3, .grid h3 a{
      font-size:14px;
      line-height:18px;
      font-family:adobe-caslon-pro;
      font-weight:normal;
}

.dashboard label.control-label {
width:80px;
}

.listmore {
	  float:right;
}



.frontpage .menubar a:hover {
color:$nearblack;	

}



h2 a,h3 a, h4 a, h5 a,h6 a {
font-weight:normal;
}


.span2 .addthis_toolbox {
margin-top:10px;
float:right;
}


.about h2 {
color:white;
font-family:chunk;
font-size:80px;
line-height:80px;
padding-top:60px;
text-shadow:2px 2px #000000;
}

.about #main p, .about #main li {
font-size: 20px;
line-height: 28px;
opacity:0.7;
font-family: "adobe-caslon-pro";
text-align:justify;
}

.blogcolumn h2 {
//border-bottom:1px solid #eee;
margin-bottom:20px;
}

 h2.posttitle {
border-bottom:0px solid #eee;
font-size:28px;
line-height:36px;
font-weight:500;
font-family:"garamond-premier-pro-display";
}

 h3.postdate {
font-weight:normal;
font-size:18px;
line-height:18px;
float:right;
margin-left:10px;
}


.item {
margin-bottom:10px;
}




.event_location_1 {
background-color:#FFF8E9;
}

.event_location_2 {
background-color:#D0FFEA;
}

.event_location_3 {
background-color:#F1D0FF;
}


.event_location_4 {
background-color:#EEFFC1;
}

