<div class="titleshort">
  <h3 class="booktitle"><%= link_to title.title, title %></h3>
  <%= link_to(image_tag(title.latest_published_edition.try(:cover_url,:medium),:class=>"bookcover"),title) unless title.latest_published_edition.try(:cover_url,:medium).nil? %>
  <h4 class="contributors">
    <%= raw contributors_list(title) %>
  </h4>
  <div class="introduction">
      <%= sanitize title.introduction %>
  </div>
</div>

