<h1>Listing titles</h1>


<% @titles.each do |title| %>

<%= render title  %>

<% end %>

<%= paginate @titles %>

<%=  mylinkbutton "<i class='icon-plus'></i> New Title", new_title_path   if can? :create, Title %>
