$nearwhite:#fafafa;
$nearblack:#000810;
$darkred:#7C1212;
$lightgrey:#c9c2b0; 
$lightbrown:#b5a57f; //good but too dark?
$lightbrown:#bcb093;
$nearwhitetwo:#fafafa;



#heroCarousel .item {
width:100%;
height:100%;
}

#heroCarousel .item img{
width:100%;
border-width:0px;
}

#heroCarousel {top:0px;}

#top {

}

.carousel {

margin-bottom:0px !important;
}

#main {

position:relative;
}

.carousel-caption {
background:#000810;
width:250px;
position:absolute;
top:30px;
height:200px;
left:100px;

}

.carousel-caption p{
font-family:Copse;
font-size:18px;
line-height:24px;
}	

.carousel-caption h4 {
font-family:Edmondsans;
text-transform:uppercase;
font-size:22px;
font-weight:normal;
}


#heroCarousel .caption {
position:absolute;
top:60px;
left:100px;
padding:40px;
overflow:hidden;
width:30%;
color:$nearwhitetwo !important;

background-color:rgba(0,0,0,0.5);

}


.heroheader,.herodescription,.herodescription p,.herodescription p span {
color:$nearwhitetwo !important;
}

.herodescription,.herodescription p,.herodescription p span,.herodescription p span a {
font-family:"Source Sans Pro";
font-weight:300;
font-size:18px;
line-height:24px;
}
