// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.event_locations #main, .events #main {
p,span {
font-family:inherit !important;
font-size:inherit !important;
line-height:inherit !important;
}
}

.newevent {
float:right;
opacity:0.5;
}

.newevent:hover {
opacity:1;
}


.datetime {
margin-left:20px !important;
}


.events .event {
clear:left
}




td.day {
width:14%;
}


.eventmeta {
	   padding:10px !important;
h2, h2 a{  
	font-family:"Gotham A","Gotham B";
	text-transform:uppercase;
	font-weight:bold;
	color:white;
}
}


.rsvp {
	font-family:"Gotham A","Gotham B";

}

.rsvp:first-child {
font-weight:bold;
}
