$nearwhite:#fafafa;
$nearblack:#000810;
$darkred:#7C1212;
$lightgrey:#c9c2b0; 
$lightbrown:#b5a57f; //good but too dark?
$lightbrown:#bcb093;
$nearwhitetwo:#fafafa;

#top .left,#top .right {
margin-top:30px;
}

.headertag {
font-family:Raleway;
font-size:12px;
}

.left .headertag {
text-align:right;
}

.left .headerlinks{
text-align:right;
}

.headerlinks {
font-family:"Tablet Gothic";
font-size:35px;
margin-top:5px;
margin-bottom:5px;
}

.headerlinks a {
color:$nearblack;
text-transform:uppercase;
border-top:1px solid $nearblack;
border-bottom:1px solid $nearblack;
padding-top:15px;
padding-bottom:6px;
padding-left:3px;
padding-right:3px;
display:inline-block;
width:119px;
text-align:center;
}

#top .center {
text-align:center;
padding-top:20px;
}

#top .center img {
width:75%;
}

.left .headerlinks a {
margin-left:20px;
}

.right .headerlinks a {
margin-right:20px;

}


.headerlinks a:hover {
text-decoration:none;
background-color:rgba(0,0,0,0.3);
}

#top hr {
color:$nearblack !important;
border-bottom-color:$nearblack !important;
border-top-width:0px;
margin-left:47px;
margin-right:47px;
}



#top {
background-image:url(/assets/header-paper.png);
background-position:center top;
min-height:180px;
}

#top nav {
border:1px solid $nearblack;
min-height:180px;
}

