// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.mybutton {
border:3px solid black;
padding:5px;
margin-top:10px;
border-radius:4px;
font-size:18px !important;
text-align:center;
text-transform:uppercase;
}

.mybutton:hover {
color:black;
background-color:#666 !important;
}



body.slider {
padding-top:360px;
}




.content {
background-color:transparent;
}

.bookcover {
float:right;
margin-left:20px;
}




h1{
font-size:32px;
margin-top:0px !important;
}

h2{
font-size:28px;
line-height:35px;
margin-top:0px !important;
}

h3{
font-size:21px;
line-height:25px;
}


.content h2 a, .content h2 a:visited{
font-size:24px;
}

.content h3 a, .content h3 a:visited { 
font-size:18px;
}


.description,.pages .body {

}









.ui-autocomplete { position: absolute; cursor: default;z-index:30000 !important;}  


body {
padding-top:0px !important;
background-color: white !important;
}

#main {
  font-size:16px;	
  font-height:24px;
  font-weight:300;
}

table.table th {
font-weight:500;
}

table.table {

}

.btn-primary {

}

.btn-primary:hover {

}

.btn-primary:active {
}


.dashboard .form-horizontal .control-group {
margin-bottom:5px;
}




#pagenav {
margin-top:-10px;	
}

#pagenav h4{
font-size:28px;
position:relative;
top:0px;

}

#pagenav h4 a{
padding-left:10px;
}

#pagenav h4 a:hover{
text-decoration:none;
}


.hideunlessloggedin {
display:none;
}



.bookfaq {
list-style-type:none;
margin-left:0px;
}

.bookfaq li {

margin-bottom:7px;
}


#topdetails {
margin-top:42px;
text-align:right;
}
#topdetails p {
margin:0px;
text-align:right;
}


.span6 .introduction,.span4 .introduction,.span5 .introduction, .posts .span5 .introduction p,.posts .introduction p {
font-size:16px;
line-height:20px;
}

.postshort {
margin-top:20px;
}

.blogbarimage {
float:right;
width:40%;
padding-left:5px;	
}

.thumbnails li:nth-child(4) {
clear:both;
}

.menusubinner a {
display:block;
}


.bigsearch h2{
font-size:40px;
}

.bigsearch input {
font-size:32px;
height:40px;
line-height:40px;
position:relative;
top:-10px;

}

.bigsearch input[type="text"] {
width:300px;
font-family:adobe-garamond-pro;	
}

.bigsearch btn-primary {
height:60px;
}

.audioplayer {
margin-bottom:40px;
}


.not-current-month div{
opacity:.4;
}

.row-no-padding {
  margin-left: -15px;
  margin-right: -15px;
  [class*="col-"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}


