// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.pages .introduction p{
font-family:"Source Sans Pro";
font-weight:300;
font-size:24px;
line-height:32px;
}


.pages .body p{
font-family:"Source Sans Pro";
font-weight:300;
font-size:18px;
line-height:24px;
}