// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.pages .introduction p, .pages .introduction p span{
font-size:24px !important;
line-height:36px !important;
}


.pages .body p, .pages .body p span{
font-size:16px !important;
line-height:24px !important;
} 