// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.posts .introduction p{
font-size:18px;
line-height:24px;

}


h2.posttitle {
font-size:18px;
font-weight:22px;
}

.posts .body p{
font-size:18px;
line-height:24px;
}


