// Place all the styles related to the ShoppingCarts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.a_shipping_method {
		   margin-bottom:14px;

}

#OrderConfirmation div {
		   background-color:#fff;    
}