#outstanding_orders {
    position:absolute;
    top:-100px;
    right:10px;
    color:white;    
    background-color:#999;
    padding-left:5px;
    padding-right:5px;

    h1 {

    }
    
}

#CheckoutPane .form-horizontal .control-group {
margin-bottom:2px;
}

.shopping_cart_line_item {
						td {	 padding-top:14px;	}
			 .best_in_place {
			 border:1px solid #eee;
			 padding-left:4px;
			 padding-right:4px;
			 padding-top:4px;

}
}