// Place all the styles related to the Titles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.contributors, .contributors a {
font-size:18px;
}

.introduction {
font-family:"Gotham A","Gotham B";
}


ul.editions {
list-style-type:none;
margin-left:0px;
}




.titleshort {
margin-bottom:20px;
}

.titleshort th, .titleshort td {
border-top-width:0px;
}

.titleshort .booktitle {
margin-bottom:0px;
}



.contributors {
margin-top:0px;
}

.shortorder .status_and_price {
width:50%;
display:inline;
}

.shortorder .status_and_price th, .shortorder .status_and_price td{
font-size:16px;
}



.shortorder .control-group a.btn{
width:100px;
}


h3.booktitle {
line-height:18px;
margin-bottom:5px;
}

h4.contributors {
font-size:14px;
line-height:14px;
}


.hiddenactions {
float:right;
}

.spaceontop {
padding-top:40px;
}

footer {z-index:10;position:relative;}


h1.booktitle {
font-size: 36px;
}

h1.booktitle,h2.contributors,h1.headername {
font-family:"Gotham A","Gotham B";
//text-transform:uppercase;
font-weight:bold;
}


h2.contributors { 

a {
font-size:30px;
font-weight:bold;
}
}

h3.titleformat {
font-family:"Gotham A","Gotham B";
//text-transform:uppercase;
font-size:18px;
}

.status_and_price {
font-family:"Gotham A","Gotham B";
text-transform:uppercase;
font-size:24px;
}

.titlemeta {
margin-top:20px;
font-family:"Gotham A","Gotham B";
text-transform:uppercase;
font-size:12px;
th {
	  text-align:right;     
}

}


.griditemtitle {
font-family:"Gotham A","Gotham B";
//text-transform:uppercase;
}

h2.booktitle,h2.booktitle a {
font-family:"Gotham A","Gotham B";
//text-transform:uppercase;
font-size:16px;
line-height:20px;
margin-top:5px !important;
margin-bottom:0px !important;
}

h3.contributors,h3.contributors a {
font-family:"Gotham A","Gotham B";
font-size:12px;
line-height:15px;
}


.gridmore {
font-family:"Gotham A","Gotham B";
font-weight:bold;
text-transform:uppercase;
font-size:24px;
background-color:#eeeeee;
height:200px;
line-height:28px;
display:table;
a{
display:table-cell;
vertical-align:middle;
}
}


.fadebottom { 
  position: absolute; 
  bottom: 0; 
  left: 0;
  width: 100%; 
  margin: 0; padding: 30px 0; 
  background-image: linear-gradient(to bottom, transparent, white);
}


a.gridcover {
    height: 500px !important;
    background-position: center;
    border: 4px solid white;
}

@media (max-width: 768px){
a.gridcover {
    height: 300px !important;
    }
}