 <p>Due to the cororonavirus, Red Emma's worker owners have decided that the safest course of action is to temporarily completely close our space. We are not accepting take out or delivery orders for food, but we are still accepting and shipping <a href="/books">online orders for books.</a></p>
      
      <p>We are in the process of rescheduling events—stay tuned for details.</p>
      
      <p>If you would like to support us in these difficult times:</p>
      <p>  <a href="https://www.toasttab.com/red-emma-s/giftcards">Buy a gift card online</a> * <a href="https://charity.gofundme.com/o/en/campaign/seed-commons-worker-response-fund">Donate to this worker coop support fund</a> </p> 
      
      <div><a style="font-size:2rem;" href="#" onclick="$('.emergencyalert').hide(1000);">Ok, got it!</a></div>
    </div>
