
<h1>We're moving</h1>
      
We are moving! Our 1225 Cathedral St. location has some limited bookstore only clearance sales as we close down, and we are often out selling books on Saturday mornings at the Waverly farmers market. Keep an eye on our twitter and instagram for details! Our new, beautiful Waverly location will be opening in the spring of 2022.
<br /><br />
In the meantime, you can still <a href="/books">buy books online here</a> or via <a href="https://bookshop.org/shop/redemmas">bookshop.org.</a>
<br /><br />
<a href="https://withfriends.co/red_emmas/events/">View and RSVP for upcoming events at the new location.</a>
<br /><br />
<div><a style="font-size:2rem;" href="#" onclick="$('.emergencyalert').hide(1000);">Ok, got it!</a></div>
</div>
