<p>Due to the cororonavirus, Red Emma's worker owners have decided that the safest course of action is to temporarily limit operations. We are accepting orders for <a href="https://www.toasttab.com/red-emma-s/v3#!/order">curbside pickup of food and drinks</a> on a limited schedule we plan to expand over time. You can place <a href="/books">online orders for books</a> for pickup or delivery.</p>
      
      <p>If you would like to support us in these difficult times:</p>
      <p>  <a href="https://www.toasttab.com/red-emma-s/giftcards">Buy a gift card online</a> * <a href="https://charity.gofundme.com/o/en/campaign/seed-commons-worker-response-fund">Donate to this worker coop support fund</a> </p> 
      
      <div><a style="font-size:2rem;" href="#" onclick="$('.emergencyalert').hide(1000);">Ok, got it!</a></div>
    </div>
